<div class="login-bg">
  <div class="blur">
    <div class="container h-100">
      <div class="row h-100 justify-content-center align-items-center">
        <div class="col-md-9">
          <div class="login-section shadow-lg">
            <div class="row">
              <div
                class="col-xl-6 d-flex justify-content-center align-items-center login-area-bg">
                <div class="form-section">
                  <div class="m-headings">
                    <h1 class="mb-3">{{constantsFactory.siteTitle}}</h1>
                    <h2 class="mb-4">Login</h2>
                  </div>
                  <h1 class="mb-4 d-heading">Login</h1>
                  <form [formGroup]="loginForm" (ngSubmit)="logIn()">
                    <div class="form-group mb-0 mt-2">
                      <input
                        formControlName="email"
                        type="email"
                        class="form-control mb-1"
                        placeholder="Email" />
                      <div class="error-section">
                        <p
                          *ngIf="
                            email?.touched &&
                            (email?.hasError('required') ||
                              email?.hasError('email'))
                          "
                          class="error-text">
                          Please enter a valid email address
                        </p>
                      </div>
                    </div>
                    <div class="form-group mb-0">
                      <input
                        formControlName="password"
                        type="password"
                        class="form-control mb-1"
                        placeholder="Password" />
                      <div class="error-section">
                        <p
                          *ngIf="
                            password?.touched && password?.hasError('required')
                          "
                          class="error-text">
                          Please enter your password
                        </p>
                        <p
                          *ngIf="loginForm.errors?.['unauthenticated']"
                          class="error-text">
                          Username or Password is incorrect!
                        </p>
                        <p
                          class="error-text"
                          *ngIf="loginForm.errors?.['unknownError']"
                          class="error-text">
                          Something went wrong!
                        </p>
                      </div>
                    </div>
                    <button
                      class="theme-btn btn-block shadow border-0 py-2 mt-3 text-uppercase">
                      Login
                      <span
                        *ngIf="loading"
                        class="spinner-border spinner-border-sm mr-1"></span>
                    </button>
                  </form>
                  <p class="mt-3 m-0">
                    Don't have an account?
                    <a href="mailto:support@techno-soft.com"> Send Request </a>
                  </p>
                </div>
              </div>
              <div class="col-xl-6 p-0 welcome-section">
                <div
                  class="text-section position-relative d-flex justify-content-center flex-column align-items-center text-center p-5 text-white">
                  <h2 class="position-relative px-4 pb-4 mb-4">
                    Welcome to the <br />
                    {{constantsFactory.siteTitle}}
                  </h2>
                  <p>
                    The more we share, the more we have.
                    <br />
                    Share your ideas with Technosoft team and let know their
                    opinion.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
