<div class="idea-card mb-4 active">
    <div class="row">
      <div class="col-md-9">
        <h4>Future of block chain in healthcare</h4>
        <p class="mb-2">
          Blockchain is currently heading the trending topics in the corporate
          world. Multiiple analyses have revealed that blockchain
          implementation can save money, increase..
        </p>
      </div>
    </div>
  </div>

  <div class="idea-card mb-4 scheduled">
    <h4>Future of block chain in healthcare</h4>
    <p class="mb-2">
      Blockchain is currently heading the trending topics in the corporate
      world. Multiiple analyses have revealed that blockchain implementation
      can save money, increase..
    </p>
  </div>

  <div class="idea-card mb-4 active">
    <h4>Future of block chain in healthcare</h4>
    <p class="mb-2">
      Blockchain is currently heading the trending topics in the corporate
      world. Multiiple analyses have revealed that blockchain implementation
      can save money, increase..
    </p>
  </div>
  <div class="idea-card mb-4 active">
    <h4>Future of block chain in healthcare</h4>
    <p class="mb-2">
      Blockchain is currently heading the trending topics in the corporate
      world. Multiiple analyses have revealed that blockchain implementation
      can save money, increase..
    </p>
  </div>

  <div class="idea-card mb-4 completed">
    <h4>Future of block chain in healthcare</h4>
    <p class="mb-2">
      Blockchain is currently heading the trending topics in the corporate
      world. Multiiple analyses have revealed that blockchain implementation
      can save money, increase..
    </p>
  </div>

  <div class="idea-card mb-4 scheduled">
    <h4>Future of block chain in healthcare</h4>
    <p class="mb-2">
      Blockchain is currently heading the trending topics in the corporate
      world. Multiiple analyses have revealed that blockchain implementation
      can save money, increase..
    </p>
  </div>

  <div class="idea-card mb-4 active">
    <h4>Future of block chain in healthcare</h4>
    <p class="mb-2">
      Blockchain is currently heading the trending topics in the corporate
      world. Multiiple analyses have revealed that blockchain implementation
      can save money, increase..
    </p>
  </div>