.idea-card {
  padding: 1rem;
  width: 100%;
  background-color: #ffffff;
  box-shadow: rgba(100, 100, 111, 0.2) 0rem 0.438rem 1.813rem 0rem;
  cursor: pointer;
}

.idea-card.discussion {
  border-left: 0.5rem solid var(--theme-primary);
}

.idea-card.scheduled {
  border-left: 0.5rem solid #f2b707;
}

.idea-card.completed {
  border-left: 0.5rem solid #1b9b41;
}

.idea-card .overview {
  font-size: 1rem;
}

.idea-card .stats span{
  margin-right: 0.8rem;
}

.idea-card .stats i, .idea-card .stats .title{
  color: #35898B;
  margin-right: unset;
}

.meeting{
  float: right;
  font-size: 14px;
}

.loader{
  height: 68vh;
}

@media only screen and (max-width: 1200px) {
  .status, .volunteer{
    display: block;
    float: right;
    font-size: 14px;
  }
  .status, .meeting{
    display: none;
  }
  .idea-card p{
    text-align: justify;
    font-size: 14px;
    line-height: 19px;
  }
}
