.navbar {
  position: fixed;
  width: 100%;
}

.navbar-nav {
  font-size: 0.75rem;
  cursor: pointer;
}

.nav-link {
  color: white;
}

.nav-bg {
  background-image: url('~src/main/assets/images/login-bg.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 4.813rem;
  width: 100%;
  position: fixed;
}

.blur {
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(2rem);
  height: 4.813rem;
}

.navbar-nav {
  cursor: unset;
}

@media only screen and (max-width: 991px) {
    .navbar-nav .user-img{
      display: none;
    }
}
